.resources__link {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: opacity 0.5s;
}


.resources__link:hover{
  opacity: 60%;
}
